//? COLORS
$textGray: #707070;
$textGrayLight: #727B7A;
$bgGray: #EEEEEE;
$bgGrayDark: #808080;
$bgGrayMedium: #D5D5D5;
$textRed: #DF0209;
$grayExtraLight: #959595;
$borderGray: #D1D1D1;
$green: #1CB72A;
$bgGrayLinks: #C5C5C5;